*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --green : #87a243;
    --light-green: #e0ffcd;
    --box-shadow:0 0 10px rgba(0 0 0/15%);
}
.empty{
    text-align: center;
    text-transform: capitalize;
    font-size: 16px;
}
.message{
    text-align: center;
    margin: 2rem auto;
    font-size: 20px;
    background: var(--light-green);
    color: #2a591f;
    width: 50vw;
    padding: 1rem;
    border-radius: 5px;
}
.message i{
    cursor: pointer;
    float: right;
}
.form-container{
    background-image: url('');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-container form{
    width: 50vw;
    height: auto;
    margin: 0 auto;
    padding: 2rem;
    background: var(--green);
    border: 1px solid var(--green);
    backdrop-filter: var(--light-green);
}
form input,
textarea{
    width: 100%;
    background: #e0ffcd;
    padding: .7rem 1.4rem;
    outline: none;
    border: none;
    border-radius: 5px;
    margin: .5rem 0;
    padding-left: .5rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.40);
    font-size: 14px;
}
form .btn{
    cursor: pointer;
    background: #e0ffcd;
    color: #2a591f;
    text-transform: uppercase;
}
form .btn:hover::before{
    width: 100%;
    background-color:#87a243;
}
form .btn:hover{
    background: #87a243;
    border: 2px solid #2a591f;
    color: #2a591f;
}
.form-container h3{
    text-align: center;
    text-transform: uppercase;
    color: #2a591f;
    margin: 1rem;
}
a{
    text-decoration: none;
}
 
button{
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}
/*header*/
header{
    position: sticky;
    z-index: 1000;
    box-shadow: var(--box-shadow);
    background: #e0ffcd;
    padding: 1rem 0;
    width: 100%;
}

.flex{
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: 0 auto;
}
.logo{
    font-size: 1.5rem;
    font-weight: bold;
    color: #2a591f;
}
.logo span{
    color: #2a591f;
}
.navbar a{
    margin: 0 1rem;
    font-size: 1rem;
    color: #2a591f;
    text-transform: uppercase;
}
.navbar a:hover,
.header .icons i:hover{
    color: var(--green);
}
.header .icons{
    display: flex;
}
.header .icons i{
    margin-left: 1.3rem;
    font-size: 1.5rem;
    cursor: pointer; 
    color: #2a591f;
}
#menu-btn{
    display: none;
}

.header .user-box{
    position: absolute;
    top: 150%;
    right: -10%;
    box-shadow: var(--box-shadow);
    border-radius: 5px;
    padding: .7rem 1rem;
     width: 18rem;
    background: #e0ffcd9e;
    color: #2a591f;
    text-transform: capitalize;
    font-size: 12px;
    display: none;
    transition: .5s;
}
.header .user-box{
    border-radius: .5rem;
    padding: 0 1.5rem;
    color: #2a591f;
    line-height: 2rem;
}
.logout-btn{
    background: #87a243;
    color: #2a591f;
    text-transform: uppercase;
    width: 11rem;
    height: 30px;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    margin: 0;
    padding: 0;
   margin-left: 10px;
}
.header .user-box.active{
    display: block;
}
.header .user-box span{
    text-transform: capitalize;
    color: #2a591f;
    font-size: 14px;
}
.title{
    text-align: center;
    text-transform: uppercase;
    margin: 2rem 0;
    color: #2a591f;
}
.dashboard{
    padding: 2% 8%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    justify-content: center;
    align-items: center;
}
.dashboard .box-container{
    box-shadow: var(--box-shadow);
    padding: 1rem 0;
    background: #e0ffcd;
    border: 2px solid var(--green);
    margin: 1rem;
    text-align: center;
    border-radius: 5px;
}
.dashboard .box h3{
    font-size: 3rem;
    color: #2a591f;
}
.dashboard .box p{
    font-size: 18px;
    text-transform: capitalize;
    margin: 1rem 0;
}
/*add*/
.add-products,
.show-products, .update-container{
    width: 50vw;
    margin: 2rem auto;
    background: #fff;
    padding: 1rem 2rem;
    border-radius: 5px;
    border: 1px solid #2a591f;
}
.add-products form label{
    text-transform: capitalize;
    color: var(--green);
}
.add-products form textarea{
    height: 200px;
}
.show-products .box-container{
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}
.show-products .box-container .box{
    background: #fff;
}
.edit,.delete{
    margin: .5rem;
    text-transform: capitalize;
    color: #fff;
    background: var(--light-green);
    padding: .5rem 2rem;
    border-radius: 5px;
}
.edit:hover, .delete:hover{
    color: #2a591f;
    background: transparent;
    border-radius: 2px solid #2a591f;
}
.show-products .box .detail{
    font-size: 14px;
}
.show-products .box img{
    width: 80%;
}
.show-products .box h3{
    text-transform: capitalize;
}
.update-container{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    background-color: #fff;
    z-index: 1100;
    padding: 2rem;
    align-items: center;
    justify-content: center;
    display: none;
}
.update-container form{
    box-shadow: var(--box-shadow);
    width: 50%;
    background: #fff;
    padding: 1rem;
    margin: 2rem auto;
    text-align: center;
}
.update-container .edit,
.update-container .btn{
    width: 40%;
    cursor: pointer;
}
.update-container form img{
    width: 60%;
}
/* order*/
.order-container{
    padding: 3% 7%;
}
.order-container .box-container{
    grid-template-columns: repeat(auto-fit, minmax(20rem,1fr));
    justify-content: center;
    align-items: flex-start;
}
.order-container .box{
    text-align: left;
    padding: 1rem 2rem;
}
.order-container .box p{
    margin-bottom: .5rem;
    text-transform: capitalize;
    color: #2a591f;
}
.order-container .box span{
    color: #2a591f;
}
.order-container form{
    text-align: center;
}
.order-container form select{
    width: 100%;
    margin: 1rem 0;
    padding: .5rem 0;
    cursor: pointer;
}
.order-container form input{
    box-shadow: none;
    width: 45%;
    text-transform: capitalize;
}
.box-container .delete{
    padding: .6rem 12%;
}
.user-container .box-container, .message-container .box-container{
    padding: 2%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem,1rem));
}
.user-container .box-container .box{
    padding: 3rem;
}
.update-container .box-container .box span{
    color: var(--green);
}
.update-container .box-container .box p:nth-child(4){
    margin-bottom: 2rem;
}
/*media*/
@media (max-width:991px){
    #menu-btn{
        display: block;
    }
    .header .flex .navbar{
        position: absolute;
        top: 149%;
        left: 0;
        right: 0;
        border-top: 1px solid var(--green);
        background: #fff;
        transition: .3s ease;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    .header .flex .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);;
    }
    .header .flex .navbar a{
        display: block;
        margin: 2rem;
    }
    .form-container{
        width: 100%;
    }
    form{
        width: 100%;
    }
}
