body{
    background:url('space.png');
}
.heading{
    padding-bottom:2px;
    border-bottom: 2px solid white;
    font-size:30px;
    color:white;
    text-transform: capitalize;
    margin-bottom: 2px;
}
.quick-select .box-container{
    padding-top: 5px;
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(25px,1fr));
    gap:1.5rem;
    align-items:flex-start;
    justify-content: center;
}
.quick-select .box-container .box{
    text-align: center;
    background:transparent;
    border:1px solid rgba(255,255,255,0.5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    justify-content:center;
    align-items:center;
    width:300px;
    height: 450px;
    padding-left: 10px;
}
.inline-btn {
 color:white;
 border: 1px solid white;
 border-radius: 2px;
 background-color: rgb(51,51,90);
 padding: 5px;

}
.quick-select .box-container .box .title{
    font-size:25px;
    color:white;

}

.quick-select .box-conatiner .tutor{
    text-align: center;
} 

.quick-select .box-container .box .flex{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
   
}
.quick-select .box-container .box .flex a{
    padding:1rem 1.5rem;
    padding:6px;
    font-size:20px;
    color:white;
    text-decoration: none;
    margin-right: 3px;
    margin-top: 3px;


}
p, span{
    color:white;
    margin-top: 50px;
}

