
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');
 
.body2{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Popins', sans-serif;
    background-color: #fff;}

::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
   
    border-radius: 10px;
    
}
::-webkit-scrollbar-thumb{
    background:#124e5e;
    border-radius: 10px;
}

.a2{
    text-decoration: none;
}
.ul2{
    list-style: none;
}

nput,button,textarea{
    border: none;
    outline: none;
}
.nav3{
    display: flex;
    justify-content: space-around;
    align-items: center;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
}
.nav3 ul{
    display: flex;
}
.nav3 ul li a{
    height: 40px;
    line-height: 43px;
    margin: 3px;
    padding: 0 22px;
    display: flex;
    font-size: 0.7rem;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 3px;
    transition: 0.6s ease-in-out;
    color: #fff;
}
.nav3 ul li a:hover{
    background-color: #f481a1;
    color: #fff;
    
}
.active{
    background-color: #f481a1;
    color: #fff;
    
}
.main{
    width: 100%;
    height: 800px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("img3.jpg");
}
.logo h1{
    font-size: 35px;
}
.main-heading{
    width: 500px;
    position: absolute;
    left: 20%;
    top: 47%;
    transform: translate(-16%,-47%);
}
.main-heading h1{
    font-size: 45px;
    margin: 0px;
    letter-spacing: 3px;
    color: #fff;
}

.main-heading p{
    color: #e2e2e2;
}
.main-btn{
    width: 120px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f481a1;
    border-radius: 10px;
    color: #fff;
    transition: 0.6s ease-in-out;
}
.main-btn:hover{
    background-color: #f481a29f;
}
.logo{
    color: #e2e2e2;
}

.footer{
    background-color: #124e5e;
    margin-top: 150px;
}
.footer-col{
    width: 20%;
    padding: 20px 20px;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}
.footer-col h4{
    font-size: 18px;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #f481a1;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    color: #fff;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #f481a1;
    padding-left:8px ;
}
.footer-col ul li p{
    font-size: 16px;
    text-transform: capitalize;
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    color: #fff;
    display: block;

}
@media(max-width: 767px){
    .footer-col{
        width: 25%;
        margin-bottom: 30px;
    }
}
@media(max-width: 574px){
    .footer-col{
        width: 100%;
    }
}
.container{
    max-width: 1170px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-right: 15px;
}
ul{
    list-style: none;
}
.body1{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Popins', sans-serif;
    background-color: #ec9292;
    background-image:"p10.jpg";
}

button {
    background-color:  #f481a1; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 150px ;
    margin-bottom: 100px;  
    cursor: pointer;
    border-radius: 10px;
  }
  
  button:hover {
    background-color: #e8275d;
  }
  .button-container {
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 100px;
    
}
  
  .about2 {
    background-color: #e9acbe;
    background-image: url("p10.jpg");;
    padding: 30px 0;
    margin :-50px 350px;
    border-radius: 3px;
    border: black solid;
    
  }
  
  .container1 {
    max-width: 960px;
    margin: 0px 300px;
    text-align: center;
   
  }
  
  .about2 h2 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .about2 p {
    font-size: 18px;
    margin-bottom: 30px;
  }
  h2{
    color: #e8275d ;
  }
  p{
    color:  #4e081c;
   
  }
  .p{
     background-color: #e9acbe;
     padding: 15px 15px;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    background-color: #f481a1;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown select {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #f481a1;
    width: 100%;
    top: 100%;
    left: 0;
    padding: 8px 16px;
    font-size: 16px;
    border: none;
    border-top: 1px solid #ccc;
    cursor: pointer;
  }
  
  .dropdown:hover select {
    display: block;
  }
  
  .dropdown option {
    padding: 8px 16px;
    font-size: 16px;
    border: none;
    background-color: #f481a1;
    color: white;
    cursor: pointer;
  }
  
  .dropdown option:hover {
    background-color: #e8275d;
  }

  .select1{
    background-color: #124e5e ;
    color: white;
  }
  
  
