.form-section:not(:first-child) {
  display: none;
}
.form-section{
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}
form {
  background-color: #f481a1;
  width: 30%;
  margin: auto;
  height: 45%;
  text-align: center;
  margin-top: 10%;
  position: relative;
  border-radius: 5px;
}

label {
  display: inline-block;
  font-weight: bold;
  color: #fff;
  width: 40%;
  margin-top: 40px;

}

input[type="text"],
input[type="email"],
input[type="password"],
select {
  display: inline-block;
  width: 50%;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #124e5e;
  color: #fff;
  vertical-align: middle;
}

button {
  padding: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: #124e5e;
  color: #fff;
  align-self: flex-end;
  margin-top: auto;
  margin-top: 10%;
}

button.next-section-button {
  float: right;
  background-color: #124e5e;
  color: #fff;
}

button.previous-section-button {
  float: left;
  margin-right: 60%;
  background-color: #124e5e;
  color: #fff;
  left: 10%;
}

button[type="submit"] {
  background-color: #124e5e;
  color: #fff;
}

.form-section {
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 5px;
  
}
.dropdown .btn-secondary {
  background-color: #124e5e;
  color: #fff;
}

.dropdown-menu a{
  text-decoration:none;
  color: #fff;
  
}
.dropdown-menu{
  padding: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: #fff;
  align-self: flex-end;
  margin-top: 5%;
}
.dropdown-item {
  padding: 5px 10px;
  margin-bottom: 10px;
  border: 1px solid #124e5e;
  background-color: #124e5e;
  border-radius: 5px;
  margin-left: 40px;
}
.roli{
  font-size: 23px;
}



