@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Popins' sans-serif;
   
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
   
    border-radius: 10px;
    
}
::-webkit-scrollbar-thumb{
    background:rgba(113, 10, 10);
    border-radius: 10px;
}


body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgba(128, 128, 128, 0.059) ;
    
} 
#ww {
    position: absolute;
    transform:translateY(-50%);
    bottom: 0;
    right: 3%;
    top: 50%;
    width: 40%;
    height: 60%; 
    
}

.navbar{
    background-color:rgb(113, 10, 10);
    margin: 0;
}

.code{
    margin-top: -50px;
     width: 0px;
     margin-left: 50px;
        
    
}
.code a{
    text-decoration: none;
    color: #fff; 
    font-weight: 500;
    font-family: big john;
    font-size: 24px; 
  
}
.collapse .nav-item{
    margin-left: 0;
    margin-top: 50px;
    gap: 25px;
    padding: 6px 20px;
    border-top: 2px solid #fff;
    
}
.collapse a{
    color: #fff;
    font-weight: 200;
    background: rgb(113, 10, 10);
    font-size: 16px;
    font-family: baloo;
}
.collapse a:hover{
    color: rgb(183, 125, 125);
}
.dropdown-item{
    background: rgb(113, 10, 10);
}
.dropdown-menu{
    list-style: none;
    margin-right: 30px;
    line-height: 30px;
    
}
.dropdown-menu li{
    width: 100%;
    text-align: left;
    color: rgb(255, 255, 255);
    font-size: 10px;
    float: left;
    left: 10;
}
.dropdown-menu .dropdown-item:hover{
    color: rgb(183, 125, 125);
}
.dropdown-menu a:hover {
    color: rgb(183, 125, 125);
}
.d-flex a{
    float: right;
    padding: 6px 6px;
    margin-top: 0px;
    background: rgb(113, 10, 10);
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    border: 2px solid #fff;
    border-radius: 4px;
    padding: 6px 12px;
    cursor: pointer;
    text-decoration: none;
}
.d-flex a:hover{
    color:  rgb(183, 125, 125);
    background-color: rgb(113, 10, 10);
}
.welcome-text{
    position: absolute;
    top: 40%;
    left: 20%;
    transform: translate(-50%,-30%);
    color: #333;
    text-align: center;
    
}
.ff{
    font-family: baloo;
    margin: 0;
    color:rgb(113, 10, 10);
    font-size: 55px;
    animation: one 10s infinite;

}
.first{
    font-family: baloo;
    margin: 0;
    color:rgb(113, 10, 10);
    font-size: 20px;
    
  
}
.second{
    font-family: baloo;
    margin: 0;
    color:rgb(113, 10, 10);
    font-size: 20px;
}
.third{
    font-family: baloo;
    margin: 0;
    color:rgb(113, 10, 10);
    font-size: 20px;
}
.welcome-text ul{
    list-style: none;
    height: 120px;
    overflow: hidden;
    text-align: center;
}
@keyframes one{
    50%{
        margin-top: -60px;
    }
    40%{
        margin-top: -100px;
    }
    50%{
        margin-top: -180px;
    }
    80%{
        margin-top: -115px;
    }
    90%{
        margin-top: -50px;
    }
   
}


.conta {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


.row33 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.colll, .colll {
    width: 100%;
}
.cad {
    position: relative;
    background: white;
    border-radius: 20px;
    height: 340px;
    width: 230px;
    margin:0px 70px;
    border: 2px solid rgb(113, 10, 10);
    display: flex;
    box-shadow: 4px 4px rgb(113, 10, 10);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translate( 0, -5%);
    padding: 8px 12px;
    margin-top: 500px;
}

.cad .cardimgtop {
    width: 200px;
    height: 140px;
    margin-top: 20px;
    margin-bottom: 0px;
}
.cad h4 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 25px;
    position: relative;
    font-family: 'Popins', sans-serif;
    font-size: 16px;
    font-weight: bold;
    top: -200px;
    color: rgb(113, 10, 10);
}

.cad .btnnn {
    border: 2px solid  rgb(113, 10, 10);
    border-radius: 5px;
    box-shadow: 3px 3px rgb(113, 10, 10);
    background-color: #fff;
    text-decoration: none;
    font-size: 16px;
    color:   rgb(113, 10, 10);
    text-align: center;
    padding: 3px 50px;
}
.cad .btnnn:hover{
    color: rgb(183, 125, 125);
}

.top{
    list-style: none;
    font-weight: bold;
    color:rgb(113, 10, 10);
    font-size: 24px;
    position: absolute;
    left: 50%; 
    transform: translate(-50%, 0);
    bottom: -50%;
    
}
.mid{
    list-style: none;
    font-weight: bold;
    color:rgb(113, 10, 10);
    font-size: 16px;
    position: absolute;
    left: 50%; 
    transform: translate(-50%, 0);
    bottom: -55%;
    
}

.rcorners2{
    border-radius: 15px 50px 30px;
    padding: 20px; 
    width: 200px;
    height: 150px; 
    box-shadow: 20px 5px 3px rgb(169, 166, 166) ;
    border: solid;
    border-color: black;
    transform: scale(1);
    transition: transform 2s;
    transform: scale(0.9);
    transition: transform 3s;
    
}
.rcorners2:hover {
    transform: scale(0.8);
    background-color: rgb(129, 60, 60);
} 
a{
    color: white;
    text-decoration: none;
}
h5{
    color: gray;
}
/*div{
    div{ 
    background-color:rgb(79, 4, 4) ;
    color: white;
    }
} */
    
legend{
    color: rgb(79, 4, 4) ;
}
    
button:hover {
    background-color: rgb(188, 190, 194);
    
}
    
video{
    border-radius:  35px 30px 30px;
}
    
.fade-in {
    opacity: 0;
    animation: fadein 2s;
    animation: fadein 5s;
    }
    
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
    
.fade-out {
    opacity: 1;
    animation: fadeout 2s;
    animation: fadeout 5s;
}
    
@keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
 }
img{
    border-radius: 4px 4px 4px 4px;
}
    
.h1{
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.contan {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


.rowa {
    display: flex;
    justify-content: center;
    align-items: center;
}
.seperate h4{
    text-align: center;
    color: rgb(113, 10, 10);
    padding: 140px;
    font-size: 24px;
    font-weight: bold;
}

.cola, .cola {
    width: 100%;
}
.cadr {
    position: relative;
    background: white;
    border-radius: 20px;
    height: 260px;
    width: 220px;
    margin:0px 70px;
    border: 2px solid rgb(113, 10, 10);
    display: flex;
    box-shadow: 4px 4px rgb(113, 10, 10);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translate( 0, -5%);
    padding: 8px 12px;
    margin-top: -90px;
    
}

.cadr .cardimgto {
    width: 160px;
    height: 150px;
    margin-top: -40px;
    border-radius: 50%;
    border: 2px solid rgb(113, 10, 10);
}
.cadr .btn3 {
    background-color: #fff;
    text-decoration: none;
    font-size: 16px;
    color:   rgb(113, 10, 10);
    text-align: center;
    font-weight: bold;
    
}
.cadr .btn3:hover{
    color: rgb(183, 125, 125);
}

.rib{
        position: absolute;
        left: 50%; 
        transform: translate(-50%, 0);
        bottom: -30%;
        background-color: rgb(113, 10, 10);
        width: 100%;
        height: 25%;
        z-index: -1;
    }
    .bot{
        position: absolute;
        left: 48%; 
        transform: translate(-50%, 0);
        bottom: -100%;
        background-color:  rgb(113, 10, 10);
        width: 104%;
        height: 25%;
        z-index: -1;
     }
    .bot a{
        position: absolute;
        left: 45%;
        bottom: 13%; 
        text-decoration: none;
        color:rgb(255, 255, 255);
        font-weight: bold;
        font-size: 16px;
        cursor: pointer;
              
    }
    .bot a:hover{
         color:  rgb(183, 125, 125);
     }
    .advice{
        position: absolute;
        left: 20%;
        transform: translate(-50%,-30%);
        bottom: -165%;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    .advice ul{
        list-style: none;
     }
    .advice1{
        color:rgb(113, 10, 10);
        font-size: 24px;
        font-weight: bold;
     }
    .advice2{
        color:rgb(113, 10, 10);
        font-size: 20px;
    }
    .advice3{
         color:rgb(113, 10, 10);
         font-size: 18px;
     }
    .advice4{
        color:rgb(113, 10, 10);
         font-size: 18px;
     }
    .advice5{
        color:rgb(113, 10, 10);
    font-size: 18px;
    }
    .advice .fa{
         color:rgb(113, 10, 10);
         padding: 5px;
    }
    .slide{
        position: absolute;
        right: 0%;
        transform: translate(-20%,-40%);
        bottom: -155%;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        border: 2px solid  rgb(113, 10, 10);
        border-radius: 4px 4px 4px 4px;
        padding: 8px 12px;
        box-shadow: 4px 4px rgb(113, 10, 10);
        background-color: #fff;
       
        
    }
    .show1{
        color:rgb(113, 10, 10);
        font-size: 20px;
        animation: one 10s infinite;
            
    }
    .show2{
        color:rgb(113, 10, 10);
        font-size: 20px;
                
    }
    .show3{
        color:rgb(113, 10, 10);
        font-size: 20px;
    }
    .slide ul{
        height: 120px;
        overflow: hidden;
        list-style: disc;
    }
     @keyframes one{
        50%{
             margin-top: -50px;
            }
        40%{
            margin-top: -50px;
            }
        60%{
            margin-top: -50px;
             }
               
            }
    
    
    .read{
        position: absolute;
        font-size: 20px;
        bottom: 0;
        right: 0px;
        left: 0;
        margin-bottom: 2%;
        margin-left: 10%;
        
    }
    .read a{
        text-decoration: none;
        color: rgb(113, 10, 10);
    }
    .read a:hover{
        color: rgb(183, 125, 125);
    }
.to{
        list-style: none;
        font-weight: bold;
        color:rgb(113, 10, 10);
        font-size: 24px;
        position: absolute;
        left: 50%; 
        transform: translate(-50%, 0);
        bottom: -180%;
        
    }
.qoute{
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgb(113, 10, 10);
        position: relative;
        height: 400px;
        width: 100%;
        margin-top: 45%;
}   

.swiper-wrapper .card{
    border-radius: 20px 20px 20px 20px;
    border: 3px solid white;
  
}
    .swiper{
        width: 950px;

    }
    .card{
        position: relative;
        background: white;
        border-radius: 20px;
        height: 400px;
        margin: 20px 0;
        border: 3px solid white;
    }
    .card::before{
        content: "";
        position: absolute;
        height: 40%;
        width: 100%;
        background:rgb(113, 10, 10);
        border-radius: 20px 20px 20px 20px;
        box-shadow: 0px 3px 0px 0px rgb(113, 10, 10);
    }
    .card .card-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px;
        position: relative;
        z-index: 1;

    }
    section .card .image{
        height: 150px;
        width: 150px;
        border-radius: 50%;
        padding: 3px;
        background:rgb(255, 255, 255);
        margin-top: 30px;
        border: 2px solid white;
        box-shadow: 0px 0px 0px 2px rgb(113, 10, 10);
    
    }
    section .card .image img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 50%;
    }
    .card .name-profession{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        color: black;
    }
    .name-profession .name{
        font-size: 20px;
        font-weight: 600;
    }
    .name-profession .name a{
        font-size: 20px;
        font-weight: 600;
        color: rgb(113, 10, 10);
        text-decoration: none;
    }
    .name-profession .name a:hover{
        color: rgb(183, 125, 125);
    }
    .name-profession .profession{
        font-size: 15px;
        font-weight: 500;
    }
    
.swiper-pagination{
        position: absolute;
        top: 410px;
     
    }
.swiper-pagination-bullet{
        height: 4px;
        width: 26px;
        border-radius: 25px;
        background:white;
    }

.swiper-button-next, .swiper-button-prev{
        opacity: 0.7;
        transition: all 0.3s ease;
        
    }
.swiper-button-next::after, .swiper-button-prev::after{
        color: white;
    }
.swiper-button-next:hover, .swiper-button-prev:hover{
        opacity: 1;
        color: rgb(255, 255, 255);
    }

.wrapper2{
    position: absolute;
    width: 80vw;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: space-around;
    gap: 10px;
    top: 390%;
   
    
}
.container2{
    width: 28vmin;
    height: 28vmin;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1em 0;
    position: relative;
    font-size: 16px;
    border-radius: 15%;
    background-color: white ;
    box-shadow: 2px 2px 0px 2px rgb(113, 10, 10);
    border: 2px solid rgb(113, 10, 10);
    
}
.para{
    color: rgb(113, 10, 10);
    top: -55%;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    position: absolute;
    left: 50%; 
    transform: translate(-50%, 0);
}

span.num{
    color:  rgb(113, 10, 10);
    display: grid;
    place-items: center;
    font-weight: 600;
    font-size: 3em;
}
span.text{
    font-size: 1em;
    text-align: center;
    text-decoration: none;
    list-style: none;
    
}
.container2 a{
    text-decoration: none;
}
span.text a{
    color:  rgb(113, 10, 10);
    pad: 0.7em 0;
    font-weight: 400;
    list-style: none;
    line-height: 1;
    font-weight: bold;
}
span.text a:hover{
    color: rgb(183, 125, 125);
}


@media screen and (max-width: 1024px){
    .wrapper2{
        width: 85vw;
    }
    .container2{
        height: 26vmin;
        width: 26vmin;
        font-size: 12px;
    }
    .para{
        font-size: 20px;
    }
}
@media screen and (max-width: 768px){
    .wrapper2{
        width: 90vw;
        flex-wrap: wrap;
        gap: 30px;
    }
    .container2{
        height: calc(50% - 40%);
        width: 30vmin;
        font-size: 14px;
    }
    .para{
        font-size: 16px;
    }
}
@media screen and (max-width: 480px){
    .wrapper2{
        gap: 15px;
    }
    .container2{
        height: 100%;
        width: 25vmin;
        font-size: 8px;
    }
    .para{
        font-size: 12px;
    }
}
p{
    font-size:15px;
    font-family:"Nunito Sans", sans-serif ;
    color:white;
    font-weight:400;
    line-height:25px;
    margin: 0 0 15px 0;

}

.col-lg-2  a{
    text-decoration: none;
}
.col-lg-3 a{
    text-decoration: none;
}
.col-lg-2 ul{
    padding-left: 0;
}


.footer{
    background-color: rgb(113, 10, 10);
    padding-top:70px;
    margin-top: 700px;
}
.footer-about{
    margin-bottom:30px ;
}
.footer-about .logo{
        padding-bottom: 70px;
        color: rgb(255, 255, 255);
        font-size: 30px;
        font-family: sans-serif; 
        width: fit-content;
}
.footer-about p{
    color:white;
    margin-bottom:30px;
}
.footer-widget{
    margin-bottom: 30px;
}
.footer-widget h6{
    color:white;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom:20px ;
}
.footer-widget ul li{
    line-height:36px ;
    list-style: none;
    

}
.footer-widget ul li a{
    color: aliceblue;
    font-size: 15px;
}
.footer-widget ul li a:hover{
    color: rgb(183, 125, 125);
}
.footer-copyright-text{
    border-top: 1px solid rgba(255,255, 255, 0.1);
    padding: 20px 0;
    margin-top:40px ;
}
.footer-copyright-text p{
    color:white;
    margin-bottom:0 ;
}
    
