nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background:url('img1.png');
    border-bottom:2px solid rgba(255,255,255,0.5);
    backdrop-filter: blur(15px);
}

nav a.logo {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color:rgb(222,5,150);
    margin-left: 5%;
}
        
ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
        }

       
       
 li {
    display: inline;
    margin-right: 50px;
  }

 a {
     text-decoration: none;
     color:rgb(254,118,211);
 }
 a:hover{
    font-size: large;
    color:rgb(158,50,107) ;
 }
 
