body{
    height:70%;
    font-family: "Nunito Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
}
p{
    font-size:15px;
    font-family:"Nunito Sans", sans-serif ;
    color:white;
    font-weight:400;
    line-height:25px;
    margin: 0 0 15px 0;

}

a{
    text-decoration: none;
}
ul{
    padding-left: 0;
}


.footer{
    background-color: rgb(113, 10, 10);
    padding-top:70px;
}
.footer-about{
    margin-bottom:30px ;
}
.footer-about .logo{
        padding-bottom: 70px;
        color: rgb(255, 255, 255);
        font-size: 30px;
        font-family: sans-serif; 
        width: fit-content;
}
.footer-about p{
    color:white;
    margin-bottom:30px;
}
.footer-widget{
    margin-bottom: 30px;
}
.footer-widget h6{
    color:white;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom:20px ;
}
.footer-widget ul li{
    line-height:36px ;
    list-style: none;
    

}
.footer-widget ul li a{
    color: rgb(255, 255, 255);
    font-size: 15px;
}
.footer-widget ul li a:hover{
    color:rgb(12, 97, 172)
}
.footer-copyright-text{
    border-top: 1px solid rgba(255,255, 255, 0.1);
    padding: 20px 0;
    margin-top:5px ;
}
.footer-copyright-text p{
    color:white;
    margin-bottom:0 ;
}
.main-content{
    display: flex;
}
.main-content .box{
    flex-basis: 50%;
    padding: 10px 20px;
}

.box .content{
    margin:20px 0 0 0 ;
}
#email{
    color: rgb(255, 255, 255);
}
#msg{
    color:rgb(255, 255, 255)
}
.content h6{
    color:rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom:20px ;
}
.btn{

    cursor:pointer;
}

.message{
    width:100%;
    position: relative;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
}
.message .success{
    font-size: 15px;
    color:green;
    position: absolute;
    animation: buttons .3s linear;
    display: none;
}
.message .danger{
    font-size: 15px;
    color:red;
    position: absolute;
    transition: .3s;
    animation: buttons .3s linear;
    display: none;
}

@keyframes buttons{
    0%{
        transform: scale(0.1);
    }
    50%{
        transform: scale(0.5);

    }
    100%{
        transform: scale(1);
    }
}


