@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');
body{
    font-family: 'Poppins', sans-serif ;
    background: linear-gradient(to right, #780505, #d18d8d);
}
.show{
    padding: 10px 20px;
    font-size: 30px;
    font-weight: 500;
    color: white;
}
.show{
    position: absolute;
    top: 30%;
    left: 25%;
    transform: translate(-50%,0%);
    text-align: center;
}
a{
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 500;
    color: white;
    text-decoration: none;
}
 a{
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%,0%);
    text-align: center
}

.login{
   
    position:absolute;
    left: 65%;
    bottom: 0%;
    top: 15%;

}
.form-box{
    width: 380px;
    height:500px;
    position: relative;
    margin: 6% auto;
    background: rgba(255, 255, 255, 0.207) ;
    padding: 5px;
    overflow: hidden;
    border-radius: 10%;

}
.button-box{
    width: 220px;
    margin:35px auto ;
    position: relative;
    box-shadow: 0px 0px 0px 1px rgb(235, 194, 194) ;
    border-radius:30px;
    color: #fff;
}

.toggle-btn{
    padding:10px 30px ;
    cursor:pointer;
    background:transparent ;
    border:0;
    outline: none;
    position: relative;
    color: #fff;
}
#btn{
    top:0;
    left:0;
    position: absolute;
    width: 110px;
    height:100%;
    background: linear-gradient(to right,#c77171, #780505);
    border-radius:30px ;
    transition: .5s;
    
}
.input-group{
    top:140px;
    position: absolute;
    width:280px;
    transition: .5s;

    
}
.button a{
    text-decoration: none;
    color: white;
    font-size: 12px;
    top: 63%;
    left:27%


}
.button a:hover{
    color: #780505;
}
.input-field{
    width:100%;
    padding: 10px 0 ;
    margin:5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #fff;
    outline:none;
    background: transparent;
    color: #fff;
}
.submit-btn{
    width:85%;
    padding: 10px 30px;
    cursor:pointer;
    display: block;
    margin:auto;
    background: linear-gradient(to right, #c77171, #780505);
    border:0;
    outline: none;
    border-radius: 30px;
    color: #fff;

    
}
.check-box{
    margin: 30px 10px 30px 0;
}
span{
    color:#fff;
    font-size: 12px;
    bottom:68px ;
    position: absolute;

}
#login{
    left:50px;
}
#register{
    left:450px;
}
